html, body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web Light', sans-serif;
}

.notification-top {
  padding: 16px;
  background-color: #333;
  color: white;
  text-align: center;
}

.notification-top button {
  margin-right: 16px;
  border: none;
  border-radius: 50%;
  padding: 4px 8px;
  cursor: pointer;
}

.notification-top button:hover {
  background-color: white;
}

.ctn {
  max-width: 768px;
  padding: 8px;
  margin: 0 auto;
}

.disabled {
  text-decoration: line-through;
  /*pointer-events: none;*/
  cursor: not-allowed;
}
