<template id="AugJS-template">
  <div>
    <h1>AugJS Tutorial</h1>
    <hr>
    <h2><u>Step 0: What is AugJS and Why Should I Use It?</u></h2>
    <p>
      <strong>AugJS</strong> allows you to create UI Templates easily using plain old HTML and Javascript.
      <br>
      <br>
      <u>Features include:</u>
      <ul>
        <li><strong>Scoped CSS</strong>, so that your styles never clash.</li>
        <li><strong>Straightforward Templating</strong>, that enable you to create client-rendered pages through a unidirectional data flow.</li>
        <li><strong>Modularity</strong>, allowing you to design components once and use them over and over again on any site with AugJS.</li>
        <li><strong>Inline Javascript with Handlebars</strong>, for creating dynamic content easily.</li>
        <li>...with Routing, Directives and more on the roadmap!</li>
      </ul>
      <br>
      If you've ever used AngularJS, VueJS or React, you can think of AugJS as a tiny version of them.
      <br>
      <br>
      <strong>AugJS is ideally used</strong> for developing small Single Page Applications (SPA's) that may have re-usable components.
    </p>
    <hr>
    <h2><u>Step 1: Getting Started</u></h2>
    <p>
      To start using AugJS
    </p>
  </div>
</template>
