<template id="ES6-template">
  <style>
    @import url("tutorial.css");
    @import url("../styles/ideal.css");
  </style>
  <div class="ctn pad-bot">
    <h1>ES2015 / ES6 Tutorials</h1>
    <hr>
    <p>
      ES2015, also known as ES6, is the 2015 standardized version of ECMAScript. ECMAScript is the technical name of Javascript (whereas Javascript is the marketed name of the language).
    </p>
    <p>
      In this tutorial, we'll be discussing some core features of ES6, such as <strong>classes, destructuring and string templating</strong>, and how AugJS capitalizes their additions to the Javascript language.
    </p>
    <h4>Quick Links</h4>
    <ul>
      <li>
        <a href="http://www.ecma-international.org/ecma-262/6.0/">ECMAScript 2015 Spec</a>
      </li>
      <li>
        <a href="http://es6-features.org/#Constants">ES6 Features</a>
      </li>
      <li>
        <a href="https://github.com/lukehoban/es6features">ES6 Overview by Luke Hoban</a>
      </li>
    </ul>
    <h3>1. Why the Upgrade from ES5 to ES6</h3>
    <p>
      From the ECMAScript Spec (First link in Quick Links sections above),
      <br><br>
      <code>
        "Goals for ECMAScript 2015 include providing better support for large applications, library creation, and for use of ECMAScript as a compilation target for other languages. Some of its major enhancements include modules, class declarations, lexical block scoping, iterators and generators, promises for asynchronous programming, destructuring patterns, and proper tail calls. The ECMAScript library of built-ins has been expanded to support additional data abstractions including maps, sets, and arrays of binary numeric values as well as additional support for Unicode supplemental characters in strings and regular expressions. The built-ins are now extensible via subclassing."
      </code>
      <br><br>
      Stuff
    </p>

  </div>
</template>
