<template id="ES6-template">
  <style>
    @import url("tutorial.css");
    @import url("../styles/ideal.css");
  </style>
  <div class="ctn">
    <h1>ES2015 / ES6 Tutorials</h1>
    <hr>
    <p>
      ES2015, also known as ES6, is the 2015 standardized version of ECMAScript. ECMAScript is the technical name of Javascript (whereas Javascript is the marketed name of the language).
    </p>
    <p>
      In this tutorial, we'll be discussing some core features of ES6, such as <strong>classes, destructuring and string templating</strong>, and how AugJS capitalizes their additions to the Javascript language.
    </p>
    <br>
    <br>
    <br>
  </div>
</template>
