<template id="Lit-template">
  <style>
    @import url("tutorial.css");
    @import url("../styles/ideal.css");
  </style>
  <div class="ctn">
    <h1>Lit Custom Card Tutorial</h1>
    <hr>
    <p>
      In this tutorial, we'll be creating a custom card using AugJS. This card is based loosely around the interactive tilting buttons found on the Apple TV interface. We'll be diving into <strong>3D transforms and perspective using CSS</strong>.
    </p>
    <br>
    <br>
    <br>
  </div>
</template>
