.header-container {
  /*background-color: #272822;*/
  background: -webkit-linear-gradient(#272822 30%, #3F4FCC 90%, #35C0C5);
  background: -webkit-linear-gradient(#272822 30%, #3F4FAC 90%, #15A0A5);
  background: linear-gradient(#272822 30%, #3F4FAC 90%, #15A0A5);
  color: white;
  text-align: center;
  padding: 40px 20px;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.header-container ::content h1 {
  margin: 0;
  padding: 0;
}

.header-container ::content p {
  color: #ccc;
}

.a-btn-ctn {
  cursor: pointer;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  max-width: 360px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14pt;
  border: 0;
  box-shadow: 0 3px 15px -3px black;
}

.a-btn-ctn:hover {
  box-shadow: 0 0 15px -3px black;
}

.a-btn {
  background: -webkit-linear-gradient(top, #3F4FCC, #35C0C5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.a-btn:hover {
  background: -webkit-linear-gradient(bottom, #3F4FCC, #35C0C5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: contrast(120%) brightness(120%);
  filter: contrast(120%) brightness(120%);
}

.learn-more {
  padding: 8px 16px;
  border-radius: 8px;
  color: #acf;
  -webkit-transition: .2s;
  transition: .2s;
}
.learn-more:hover {
  background-color: rgba(0,0,0,.2);
  color: #acf;
}

.github-icon {
  -webkit-filter: contrast(0%) brightness(1000%) drop-shadow(0 3px 5px rgba(0,0,0,.5));
          filter: contrast(0%) brightness(1000%) drop-shadow(0 3px 5px rgba(0,0,0,.5));
  width: 40px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 16px;
  background-color: rgba(0,0,0,.1);
}
