<template id="header">
  <style>
    @import url("templates/Header.css");
  </style>

  <div class="header-container">
    <content select="img"></content>
    <content select="h1">
      <h1>
        Title
      </h1>
    </content>
    <content select="p">
      <p>
        Description
      </p>
    </content>
    <a href="https://github.com/tehjawn/AugJS/">
      <img class="github-icon" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="Github">
    </a>
    <br>
    <br>
    <div id="started-btn" class="a-btn-ctn" onclick="window.open('aug.js')" onmousemove="tilt(event)" onmouseout="untilt()">
      <span id="started-btn-text" class="a-btn">Download</span>
    </div>
  </div>
</template>

<script>
  let header = app.component("#header", "header")
</script>

<script src="Header.js"></script>
